# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  - group: AWS ECR

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    pip install awscli
  displayName: 'Install AWS CLI'
  
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
  
- script: |
    npm test -- --coverage
  displayName: 'Run Tests and Coverage'

- script: |
    aws configure set aws_access_key_id "$AWS_ECR_IAM_KEY"
    aws configure set aws_secret_access_key "$AWS_ECR_IAM_PASSWORD"
    aws configure set region "$AWS_ECR_REGION"
  displayName: 'Configure AWS CLI'

- script: |
    sed -i 's/#{PORT}#/"$PORT"/g' Dockerfile
    sed -i 's/#{JWT_SECRET}#/"$JWT_SECRET"/g' Dockerfile
    sed -i 's/#{DB_HOST}#/"$DB_HOST"/g' Dockerfile
    sed -i 's/#{DB_PORT}#/"$DB_PORT"/g' Dockerfile
    sed -i 's/#{DB_USERNAME}#/"$DB_USERNAME"/g' Dockerfile
    sed -i 's/#{DB_PASSWORD}#/"$DB_PASSWORD"/g' Dockerfile
    sed -i 's/#{DB_DATABASE}#/"$DB_DATABASE"/g' Dockerfile
  displayName: 'Replace environment variables in Dockerfile'

- script: |
    aws ecr get-login-password --region "$AWS_ECR_REGION" | docker login --username AWS --password-stdin "$AWS_ECR_REGISTRY"
    docker build -t food-court-ms:latest .
    docker tag food-court-ms:latest "$AWS_ECR_REGISTRY"/food-court-ms:latest
    aws ecr get-login-password --region "$AWS_ECR_REGION" | docker login --username AWS --password-stdin "$AWS_ECR_REGISTRY"
    docker push "$AWS_ECR_REGISTRY"/food-court-ms:latest
  displayName: 'Build, Tag, and Push Docker Image to ECR'
